<form action="">
   <li draggable="true"  id="id_0_1" ondragstart="drag(event)">
      <input type="text" name="name[0][1]" value="Home">
      <ul></ul>
   </li>
   <li draggable="true"  id="id_0_2" ondragstart="drag(event)">
      <input type="text" name="name[0][2]" value="Web development">
      <ul>
         <li draggable="true"  id="id_2_5" ondragstart="drag(event)">
            <input type="text" name="name[2][5]" value="AWS ADMIN">
            <ul>
               <li draggable="true"  id="id_5_8" ondragstart="drag(event)">
                  <input type="text" name="name[5][8]" value="Elastic Ip">
                  <ul></ul>
               </li>
               <li draggable="true"  id="id_5_9" ondragstart="drag(event)">
                  <input type="text" name="name[5][9]" value="Load balacing">
                  <ul></ul>
               </li>
               <li draggable="true"  id="id_5_10" ondragstart="drag(event)">
                  <input type="text" name="name[5][10]" value="Cluster Indexes">
                  <ul></ul>
               </li>
               <li draggable="true"  id="id_5_11" ondragstart="drag(event)">
                  <input type="text" name="name[5][11]" value="Rds Db setup">
                  <ul></ul>
               </li>
            </ul>
         </li>
         <li draggable="true"  id="id_2_6" ondragstart="drag(event)">
            <input type="text" name="name[2][6]" value="PHP">
            <ul>
               <li draggable="true"  id="id_6_12" ondragstart="drag(event)">
                  <input type="text" name="name[6][12]" value="Framework Development">
                  <ul>
                     <li draggable="true"  id="id_12_22" ondragstart="drag(event)">
                        <input type="text" name="name[12][22]" value="Codeigniter">
                        <ul></ul>
                     </li>
                     <li draggable="true"  id="id_12_23" ondragstart="drag(event)">
                        <input type="text" name="name[12][23]" value="Cake">
                        <ul></ul>
                     </li>
                  </ul>
               </li>
               <li draggable="true"  id="id_6_13" ondragstart="drag(event)">
                  <input type="text" name="name[6][13]" value="Ecommerce Development">
                  <ul>
                     <li draggable="true"  id="id_13_24" ondragstart="drag(event)">
                        <input type="text" name="name[13][24]" value="Opencart">
                        <ul></ul>
                     </li>
                     <li draggable="true"  id="id_13_25" ondragstart="drag(event)">
                        <input type="text" name="name[13][25]" value="Magento">
                        <ul></ul>
                     </li>
                  </ul>
               </li>
               <li draggable="true"  id="id_6_14" ondragstart="drag(event)">
                  <input type="text" name="name[6][14]" value="Cms Development">
                  <ul>
                     <li draggable="true"  id="id_14_26" ondragstart="drag(event)">
                        <input type="text" name="name[14][26]" value="Wordpress">
                        <ul></ul>
                     </li>
                     <li draggable="true"  id="id_14_27" ondragstart="drag(event)">
                        <input type="text" name="name[14][27]" value="Joomla">
                        <ul></ul>
                     </li>
                     <li draggable="true"  id="id_14_28" ondragstart="drag(event)">
                        <input type="text" name="name[14][28]" value="Drupal">
                        <ul></ul>
                     </li>
                  </ul>
               </li>
               <li draggable="true"  id="id_6_21" ondragstart="drag(event)">
                  <input type="text" name="name[6][21]" value="News & Media">
                  <ul></ul>
               </li>
            </ul>
         </li>
         <li draggable="true"  id="id_2_7" ondragstart="drag(event)">
            <input type="text" name="name[2][7]" value="Javascript">
            <ul>
               <li draggable="true"  id="id_7_29" ondragstart="drag(event)">
                  <input type="text" name="name[7][29]" value="Ajax">
                  <ul></ul>
               </li>
               <li draggable="true"  id="id_7_30" ondragstart="drag(event)">
                  <input type="text" name="name[7][30]" value="Jquery">
                  <ul></ul>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li draggable="true"  id="id_0_3" ondragstart="drag(event)">
      <input type="text" name="name[0][3]" value="WordPress Development">
      <ul>
         <li draggable="true"  id="id_3_31" ondragstart="drag(event)">
            <input type="text" name="name[3][31]" value="Themes">
            <ul></ul>
         </li>
         <li draggable="true"  id="id_3_32" ondragstart="drag(event)">
            <input type="text" name="name[3][32]" value="Plugins">
            <ul></ul>
         </li>
         <li draggable="true"  id="id_3_33" ondragstart="drag(event)">
            <input type="text" name="name[3][33]" value="Custom Post Types">
            <ul>
               <li draggable="true"  id="id_33_35" ondragstart="drag(event)">
                  <input type="text" name="name[33][35]" value="Testimonials">
                  <ul></ul>
               </li>
               <li draggable="true"  id="id_33_36" ondragstart="drag(event)">
                  <input type="text" name="name[33][36]" value="Portfolios">
                  <ul></ul>
               </li>
            </ul>
         </li>
         <li draggable="true"  id="id_3_34" ondragstart="drag(event)">
            <input type="text" name="name[3][34]" value="Options">
            <ul></ul>
         </li>
      </ul>
   </li>
   <li draggable="true"  id="id_0_4" ondragstart="drag(event)">
      <input type="text" name="name[0][4]" value="About w3school.info">
      <ul></ul>
   </li>
</form>